{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr>
                <th>symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <!-- TODO: Loop through the database entries to display them in this table -->
            {%for row in bought%}
            <tr>
                <th>{{row['symbol']}}</th>
                <th>{{row['cominfor']['name']}}</th>
                <th>{{row['SUM(shares)']}}</th>
                <th>{{row['cominfor']['price']}}</th>
                <th>{{row['total']}}</th>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <br><br><br><br><br>
    <h2>cash:{{curcash}}</h2>
    <h2>total:{{total}}</h2>
{% endblock %}
