{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <select name="symbol" class="form-control">
                <option disabled selected value="">symbol</option>
                <option value="NFLX">NFLX</option>
            </select>
            <br><br>
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">sell</button>
    </form>
{% endblock %}
